<form class="form-signin" #userLoginForm="ngForm" (ngSubmit)="OnSubmit(userLoginForm)">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Simple Tracker</h1>
      <p>Signin and start tracking your expenses</p>
    </div>

    <div class="form-label-group">
      <input type="text" id="inputEmail" class="form-control" placeholder="Username" 
        name="username" #username="ngModel" [(ngModel)]="user.username" required autofocus>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" 
      name="password" #password="ngModel" [(ngModel)]="user.password" required>
    </div>

    <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
    <hr class = "mt-5">
    <div class="text-center mb-4 p-5">
      <p>Don't have an account yet? <a href="#" routerLink="/register"> Create your account here</a></p>
    </div>
  </form>